<div class="row">
    <div class="small-3 small-centered columns">
        <form action="/" method="post">
            <div class="row collapse">
                <div class="small-3 columns">
                    <input type="url" name="target" placeholder="URL" autofocus>
                </div>
                <div class="small-2 columns">
                    <a onclick="$(this).closest('form').submit()" class="button postfix">Short!</a>
                </div>
            </div>
        </form>
    </div>
</div>